.categoryRow,
.pageHeader,
.titleRow,
.addCategory,
.iconList,
.colorList{
	width: 800px;
	margin: 0 auto;
	padding: 5px 0;
	display: flex;
	color: #737373;
	font-size: 20px;		
}
.pageHeader{
	justify-content: space-between;
	align-items: center;
}

.pageTitle{
	font-size: 30px;
	text-align: left;
	margin-bottom: 20px;
}
.btnAdd,
.btnAddNew{
	display: block;
	width: 150px;
	padding: 10px 0;	
	font-size: 20px;	
	text-align: center;
	text-decoration: none;	
	background-color: #80bfff;	
	color: #f2f2f2;
	border: none;
  	border-radius: 10px;
  	box-shadow: 0 4px #d9d9d9;
  	cursor: pointer;
}
.btnAdd:hover{
	background-color: #4da6ff; 
}
.btnAdd:active {
  background-color: #4da6ff;
  box-shadow: 0 1.5px #d9d9d9;
  transform: translateY(2px);
}
.btnAddNew{
	width: 200px;
}

.titleRow{
	padding: 10px 0;
	font-size: 24px;
	border-top: 1px solid #737373;
	border-bottom: 1px solid #737373;
}
.category,
.categoryTitle{
	width: 30%;
	display: flex;
	align-items: center;
}

.iconImg{
	width: 40px;
	height: 40px;
	padding: 2px;
	border-radius: 50%;
}

.name{	
	padding-left: 20px;
	text-align: left;
	font-size: 20px;
}

.description,
.descriptionTitle{
	width: 50%;
	padding-left: 20px;
	text-align: left;	
}

.btnAction{	
	border: none;
	background-color: #fff;
	font-size: 50px;
	text-align: right;
	cursor: pointer;

}

.action,
.actionTitle{
	width: 20%;
	display: flex;
	justify-content: flex-end;	
}

.act{
	width: 30px;
	height: 30px;	
}
.act:hover{	
	background-color: #f2f2f2;
	outline: 1px solid #e6e6e6;
}
.act:active{
	background-color: #e6e6e6;
	outline: 1px solid #d9d9d9;
}

.addCategory{
	flex-direction: column;
	align-items: center;
}

.inpName,
.inpDescr{
	width: 250px;
	padding: 10px;
	font-size: 16px;
	color: #737373;
	border: 1px solid #737373;
	box-sizing: border-box;
}

.inpName:focus,
.inpDescr:focus{	
	box-shadow: 0 0 4px 4px #d9d9d9;
}

.btnAddNew{
	margin-top: 20px;
}

.colorList{
	justify-content: center;
}
.colorItem,
.iconItem{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.colorItem input,
.iconItem input{
	display: none;
	margin: 0;
	padding: 0;
}
.iconColor{
	width: 40px;
	height: 40px;
	padding: 2px;	
	border-radius: 50%;
}
.colorItem label,
.iconItem label{
	width: 40px;
	height: 40px;
	padding: 2px;
	background-color: #80bfff;	
	border-radius: 50%;
}
.colorItem input:checked + label{  /*[type=radio]*/
	width: 42px;
	height: 42px;
	border: 2px solid #000099;
	/*box-shadow: 0 0 4px 4px #737373;*/	
}

.iconItem input:checked + label{
	background-color: #000099;
	border: 2px solid #000099;
}
