.categoryRow,
.pageHeader,
.titleRow,
.addCategory,
.iconList,
.colorList{
	width: 800px;
	margin: 0 auto;
	padding: 5px 0;
	display: flex;
	color: #737373;
	font-size: 20px;		
}
.Row{
	justify-content: space-between;
	align-items: center;

	width: 800px;
	margin: 0 auto;
	padding: 5px 0;
	display: flex;
	color: #737373;
	font-size: 18px;
}
.underlineRow{
	width: 800px;
	/* margin: 0 auto; */
	/* padding: 5px 0; */
	/* display: flex; */
	/* color: #737373; */
	/* font-size: 20px; */
	border-top: 1px solid #737373;
	border-bottom: 1px solid #737373;
}
.cat{
	text-align: left;
	width: 150px;
}
.catHeader{
	width: 200px;
}
.desc{
	text-align: left;
	width: 200px;
}
.descHeader{
	width: 250px;
}
.date{
	text-align: left;
	width: 190x;
}
.dateHeader{
	width:152px;
}
.money{
	text-align: left;
	width: 110px;
}
.moneyInc{
	text-align: left;
	width: 400px;
}
.moneyHeaderInc{
	width: 400px;
}
.type{
	text-align: left;
	width: 380px;
}
.typeHeader{
	width: 400px;
}

.pageHeader{
	justify-content: space-between;
	align-items: center;
}

.pageTitle{
	font-size: 30px;
	text-align: left;
	margin-bottom: 20px;
}
.btnAdd,
.btnAddNew{
	display: block;
	width: 150px;
	padding: 10px 0;	
	font-size: 20px;	
	text-align: center;
	text-decoration: none;	
	background-color: #80bfff;	
	color: #f2f2f2;
	border: none;
  	border-radius: 10px;
  	box-shadow: 0 4px #d9d9d9;
  	cursor: pointer;
}
.btnAddDesc{
	display: block;
	width: 150px;
	padding: 10px 0;	
	font-size: 20px;	
	text-align: center;
	text-decoration: none;	
	background-color: #80bfff;	
	color: #f2f2f2;
	border: none;
  	border-radius: 10px;
  	box-shadow: 0 4px #d9d9d9;
	  cursor: pointer;
	  margin-left:25%
}
.btnAdd:hover{
	background-color: #4da6ff; 
}
.btnAdd:active {
  background-color: #4da6ff;
  box-shadow: 0 1.5px #d9d9d9;
  transform: translateY(2px);
}
.btnAddNew{
	width: 200px;
}

.titleRow{
	padding: 10px 0;
	font-size: 24px;
	border-top: 1px solid #737373;
	border-bottom: 1px solid #737373;
}
.category,
.categoryTitle{
	width: 30%;
	display: flex;
	align-items: center;
}

.iconImg{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.name{	
	padding-left: 20px;
	text-align: left;
	font-size: 20px;
}

.description,
.descriptionTitle{
	width: 50%;
	padding-left: 20px;
	text-align: left;	
}

.btnAction{	
	border: none;
	background-color: #fff;
	font-size: 50px;
	text-align: right;
	cursor: pointer;

}

.action,
.actionTitle{
	width: 20%;
	display: flex;
	justify-content: flex-end;	
}

.menu{
	width: 30px;
	height: 30px;	
}
.menu:hover{
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
	outline: 1px solid #e6e6e6;
}
.menu:active{
	background-color: #e6e6e6;
	outline: 1px solid #d9d9d9;
}

.addCategory{
	flex-direction: column;
	align-items: center;
}

.inpName,
.inpDescr{
	width: 250px;
	padding: 10px;
	font-size: 16px;
	color: #737373;
	border: 1px solid #737373;
	box-sizing: border-box;
}

.select{
	width: 250px;
	padding: 10px;
	font-size: 16px;
	color: #737373;
	border: 1px solid #737373;
	margin-left:15px;
}

.inpName:focus,
.inpDescr:focus{	
	box-shadow: 0 0 4px 4px #d9d9d9;
}

.btnAddNew{
	margin-top: 20px;
}
.iconList{

}

.colorList{
	justify-content: center;
}
.colorItem,
.iconItem{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.colorItem input,
.iconItem input{
	display: none;
	margin: 0;
	padding: 0;
}
.iconColor{
	width: 40px;
	height: 40px;
	padding: 2px;	
	border-radius: 50%;
}
.colorItem label,
.iconItem label{
	width: 40px;
	height: 40px;
	padding: 2px;
	background-color: #80bfff;	
	border-radius: 50%;
}
.colorItem input:checked + label{  /*[type=radio]*/
	width: 42px;
	height: 42px;
	border: 2px solid #000099;
	/*box-shadow: 0 0 4px 4px #737373;*/	
}

.iconItem input:checked + label{
	background-color: #000099;
	border: 2px solid #000099;
}



.dropbtn {
	background-color: white;
	color: #737373;
	padding: 10px;
	margin-left: 10px;
	font-size: 10px;
	border: none;
	cursor: pointer;
}
  
.dropdown {
	position: relative;
	display: inline-block;
}
  
.dropdown-content {
	font-size: 12px;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
	display: block;
}
  
.dropdown:hover .dropbtn {
	background-color: #d9d9d9;
}

.selectionEL {
	padding: 10px;
	font-size: 26px;
	font-weight: 500;
	color: #737373;
}

.tabbar-item {
	font-size:20px;
	/* color: #737373; */
	/* text-decoration: none; */
}
.tabbar-item:hover {
	text-decoration: underline;
}